
body, html {
  width: 100%;
  height: 100%;
  margin: 10px;

}


.navbar-brand{
  font-family: 'Calligraffitti', cursive;
  font-size: 3em;
  color: #141414;
}

hr {
  width: 25%;
  height: .75px;
  border: 0;
  background: #333;
  background-image: linear-gradient(to right, #f6f6f6, #141414, #f6f6f6);
}

.form-group {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25em;
  color: #141414;
  position: relative;
  margin-left: 50px;
  margin-top: 15px;

}


.btn{
  margin-top: 10px;
  margin-left: 50px;
}

.title-image{
  width: 500px;
  height: 500px;
  margin-right: 50px;
}

.prediction{
 text-align: center;
  margin-top: 10px;
  font-size: 2em;
}

.hidden-prediction{
  font-family: 'Calligraffitti', cursive;
  font-size: 3em;
  color: #141414;
}